body{
    background-color: rgb(12, 54, 54);
}
*{
    padding: 0;
    margin: 0;
color: white; 
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#navbar{
    height: 75px;
    background-color: #0f1111;
}

button{
    background-color: orange;
}
#logo{
    color: orange;
    font-size: 35px;

}
.contentbox{
    height: 330px;
    width: 200px;
    border: 2px  solid #000000;
    margin: 8px;
    display: inline-block;
    box-shadow: 3px 3px 5px black;
    color: rgb(253, 249, 249);
    /* text-shadow: 1px 1px 2px rgb(133, 133, 133); */
    text-transform:initial;
    border-radius: 30px;
    margin-top: 50px;
    background-color:rgb(130, 88, 9);
    text-align: center;
    
    
    
}
a{
    margin-right: 170px;
    text-decoration: none;
    font-weight: 900;
}
footer{
    
    background-color: black;
    text-align: center;
    height: 150px;
    
}
#content{
    height: 1800px;
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    
}
.contentbox:hover{
    transform: scale(1.2);
    transition: all 0.6s ease;
    
}
.hover:hover{
    transform: scale(1.2);
    transition: all 0.6s ease;
    
}
.logo:hover{
    transform: scale(1.2);
    transition: all 0.6s ease;
    font-size: xx-large;
    margin-right: 90px;
    color: orange;
}
.margin{
    margin: auto
}

#mail{
    display:inline-block
}